<div class="container">
    <div class="mb-1" *ngIf="status == 1" (click)="resetQRCode()">
        <div class="mb-1">
            <input type="text" class="qrcode" #txtqrcode (keyup)="doQRCode(txtqrcode.value)"/>
        </div>

        <div>
            <button (click)="doSearch()">SEARCH</button>
        </div>
    </div>

    <div class="mb-1" *ngIf="status == 2">
        <div class="mb-1">
            <input type="text" class="text" #txtcode (keyup)="doCodeChange(txtcode.value)"/>
        </div>

        <div class="mb-1">
            <button (click)="doCancel()">Cancel</button>
        </div>

        <div>
            <table style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 5em">Code</th>
                        <th>Fullname</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="name-tag" class="mb-1" *ngIf="status == 3" (click)="doCancel()">
        <h1>Welcome</h1>
        <h1>Firstname Lastname</h1>
        <h1>Happy New Year 2567</h1>
    </div>
</div>