.container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.container button {
    font-size: 24pt;
    border-radius: 20px;
    padding: 0.5em;
}

.container .qrcode, .qrcode:focus {
    border: none;
    outline: none;
    font-size: 18;
    background: none;
    color: black;
    mix-blend-mode: screen;
}

#checkin-search  .large-text {
    width: 20em;
    font-size: 40pt;
    border-radius: 20px;
    padding: 0.5em;
    text-align: center;
}

.container table, th, td {
    border: solid thin gray;
    border-collapse: collapse;
    font-size: 16pt;
}

.container #name-tag {
    width: 100%;
    border: solid thin gray;
    border-radius: 10px;
    text-align: center;
}

#checkin-qrcode {
    background-image: url('../../assets/imgs/checkin-qrcode.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;
}

#checkin-search {
    background-image: url('../../assets/imgs/checkin-search.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;
}

#checkin-welcome {
    background-image: url('../../assets/imgs/checkin-welcome.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100%;
}