.container {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    border: solid thin gray;
    padding: 1em;
    text-align: center;
}

.container button {
    font-size: 24pt;
    border-radius: 20px;
    padding: 0.5em;
}

.container .qrcode, .qrcode:focus {
    border: none;
    outline: none;
    font-size: none;
    color: white;
}

.container .text {
    width: 10em;
    font-size: 20pt;
    border-radius: 20px;
    padding: 0.5em;
    text-align: center;
}

.container table, th, td {
    border: solid thin gray;
    border-collapse: collapse;
    font-size: 16pt;
}

.container #name-tag {
    width: 100%;
    border: solid thin gray;
    border-radius: 10px;
    text-align: center;
}